# Server
SERVER_HTTP_SCHEME=http
SERVER_ADDRESS=localhost
SERVER_PORT=4320

# OPA (Open Policy Agent)
OPA_URL=http://localhost:8181
OPA_ENABLED=false
POLICIES_DIR=policies/tags

# Data
DATA_DIR=data

# Agent
AGENT_TIMEOUT_SECONDS=60