<!DOCTYPE html>
<html>
<title>OpAMP Python Server - Agents Overview</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/static/css/w3.css">

<div class="w3-container">
    <h1>Agents Overview</h1>
    <h2>Agent Count: {{ agent_list | length }}</h2>
</div>

<div class="w3-container">
    <table class="w3-table-all">
    <tr>
        <th>Agent ID</th>
        <th>Healthy</th>
        <th>Tags</th>
    </tr>
    {% for agent in agent_list %}
    <tr>
        <td><a href="{{ url_for('get_agent_details', agent_id=agent.id) }}">{{ agent.id }}</a></td>
        <td>{{ agent.health_glyph }}</td>
        <td>
        {% for item in agent.tags %}
          <span class="w3-tag w3-black w3-tiny">{{ item.key }}</span><span class="w3-tag w3-blue w3-tiny">{{ item.value }}</span>
        {% endfor%}
        </td>
    </tr>
    {% endfor %}
    </table>
</div>
