<!DOCTYPE html>
<html>
<title>Agent Overview</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/static/css/w3.css">

<script>
function toggleAccordian(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
function foobar() {
  console.log("Clicked...");
}
</script>

<div class="w3-container">
    <h1>Agent Overview</h1>

    <div class="w3-panel w3-pale-blue w3-leftbar w3-rightbar w3-border-green">
      <ul class="w3-ul w3-border">
          <li>Agent ID: {{ agent.id }}</li>
          <li>Health Status: {{ agent.health_glyph }}</li>
          <li>Start Time: {{ agent.details.health.startTimeUnixNano | format_unix_time }}</li>
          <li>Latest Update Time: {{ agent.details.health.statusTimeUnixNano | format_unix_time }}</li>
          <li>Tags: {% for item in agent.tags %}
            <span class="w3-tag w3-black w3-tiny">{{ item.key }}</span><span class="w3-tag w3-blue w3-tiny">{{ item.value }}</span>
          {% endfor%}</li>
      </ul>
    </div>

    <div class="w3-container">
    <h2>Pipelines</h2>

    {% for key in agent.details.health.componentHealthMap %}
     {% if key.startswith("pipeline:") %}
       
       {% set pipeline_health_glyph = "✅" if agent.details.health.componentHealthMap[key].healthy else "❌" %}
       <button onclick="toggleAccordian('{{ key }}')" class="w3-btn w3-block w3-black w3-left-align">{{ key }} (click to expand)</button>
        <div id="{{ key }}" class="w3-container w3-hide">
          <h3>{{ key }}</h3>
          <p>Healthy: {{ pipeline_health_glyph }}</p>
          <h4>Components</h4>
          <div class="w3-row">
            <div class="w3-third w3-container w3-green">
                <h5>Receivers</h5>
                {% for subkey in agent.details.health.componentHealthMap[key].componentHealthMap %}
                  {% if subkey.startswith("receiver:")%}
                  <div>
                    {{ subkey }}
                  </div>
                  <div>
                    {% set component_health_glyph = "✅" if agent.details.health.componentHealthMap[key].componentHealthMap[subkey].healthy else "❌" %}
                    Healthy: {{ component_health_glyph }}
                  </div>
                  <div>
                    Status: {{ agent.details.health.componentHealthMap[key].componentHealthMap[subkey].status }}
                  </div>
                  <div>
                    Last Status Timestamp: {{ agent.details.health.componentHealthMap[key].componentHealthMap[subkey].statusTimeUnixNano | format_unix_time }}
                  </div>
                  <hr />
                  {% endif %}
                {% endfor %}
            </div>
            <div class="w3-third w3-container w3-blue">
                <h5>Processors</h5>
                {% for subkey in agent.details.health.componentHealthMap[key].componentHealthMap %}
                  {% if subkey.startswith("processor:")%}
                    <div>
                    {{ subkey }}
                  </div>
                  <div>
                    {% set component_health_glyph = "✅" if agent.details.health.componentHealthMap[key].componentHealthMap[subkey].healthy else "❌" %}
                    Healthy: {{ component_health_glyph }}
                  </div>
                  <div>
                    Status: {{ agent.details.health.componentHealthMap[key].componentHealthMap[subkey].status }}
                  </div>
                  <div>
                    Last Status Timestamp: {{ agent.details.health.componentHealthMap[key].componentHealthMap[subkey].statusTimeUnixNano | format_unix_time }}
                  </div>
                  <hr />
                  {% endif %}
                {% endfor %}
            </div>
            <div class="w3-third w3-container w3-black">
                <h5>Exporters</h5>
                {% for subkey in agent.details.health.componentHealthMap[key].componentHealthMap %}
                  {% if subkey.startswith("exporter:")%}
                    <div>
                    {{ subkey }}
                  </div>
                  <div>
                    {% set component_health_glyph = "✅" if agent.details.health.componentHealthMap[key].componentHealthMap[subkey].healthy else "❌" %}
                    Healthy: {{ component_health_glyph }}
                  </div>
                  <div>
                    Status: {{ agent.details.health.componentHealthMap[key].componentHealthMap[subkey].status }}
                  </div>
                  <div>
                    Last Status Timestamp: {{ agent.details.health.componentHealthMap[key].componentHealthMap[subkey].statusTimeUnixNano | format_unix_time }}
                  </div>
                  <hr />
                  {% endif %}
                {% endfor %}
            </div>
        </div>
     {% endif %}
    {% endfor %}
  </div>
  </div>
  <div class="w3-container">
    <h2>Current Agent Configuration</h2>

    <button onclick="toggleAccordian('effectiveConfig')" class="w3-btn w3-block w3-black w3-left-align">Current Agent Configuration (click to expand)</button>

    <form id="effectiveConfig" action="#" method="POST" class="w3-container w3-hide">
      <textarea class="w3-input w3-block" rows="80">
      {{ agent.details.effectiveConfig.configMap.configMap[""].body | b64decode }}
      </textarea>
      <input class="w3-btn w3-black w3-block" type="button" value="Send Config (not working yet)">
    </form>
  </div>
</div>
