<!DOCTYPE html>
<html>
<title>Agent Overview</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/static/css/w3.css">

<script>
function toggleAccordian(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    console.log("Showing: " + id);
    x.className += " w3-show";
  } else {
    console.log("Hiding: " + id);
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

<div class="w3-container">
    <h1>Agent Overview</h1>

    <div class="w3-panel w3-pale-blue w3-leftbar w3-rightbar w3-border-green">
      <ul class="w3-ul w3-border-all" style="flex-grow: 4">
          <li>Agent ID: {{ agent.id }}</li>
          <li>Health Status: {{ agent.health_glyph }}</li>
          <li>Start Time: {{ agent.details.health.startTimeUnixNano | format_unix_time }}</li>
          <li>Latest Update Time: {{ agent.details.health.statusTimeUnixNano | format_unix_time }}</li>
          <li>Tags: {% for item in agent.tags %}
            <span class="w3-tag w3-black w3-tiny">{{ item.key }}</span><span class="w3-tag w3-blue w3-tiny">{{ item.value }}</span>
          {% endfor%}</li>
      </ul>

      <h3>Agent Capabilities</h3>
      <h4>Reporting</h4>
      <p>These are the things the agent reports <strong>to</strong> the server</p>

      <button onclick="toggleAccordian('agent_capabilities_reporting')" class="w3-btn w3-block w3-black">Reporting Capabilities (click to expand)</button>
      <table id="agent_capabilities_reporting" class="w3-table-all w3-hide">
        <th>Capability</th>
        <th>Status</th>

        {% for item in agent | get_reports_capabilities %}
        <tr>
          <td>{{ item["capability"] }}</td><td>{{ item["status"] }}</td>
        </tr>
        {% endfor %}
      </table>
      <br />

      <h4>Acceptance</h4>
      <p>These are the things the agent accepts <strong>from</strong> the server</p>

      <button onclick="toggleAccordian('agent_capabilities_acceptance')" class="w3-btn w3-block w3-black">Acceptance Capabilities (click to expand)</button>
      <table id="agent_capabilities_acceptance" class="w3-table-all w3-hide">
        <th>Capability</th>
        <th>Status</th>

        {% for item in agent | get_accepts_capabilities %}
        <tr>
          <td>{{ item["capability"] }}</td><td>{{ item["status"] }}</td>
        </tr>
        {% endfor %}
      </table>
      <br />
    </div>

        

    <div class="w3-container">
    <h2>Pipelines</h2>

    {% for key in agent.details.health.componentHealthMap %}
     {% if key.startswith("pipeline:") %}
       
       {% set pipeline_health_glyph = "✅" if agent.details.health.componentHealthMap[key].healthy else "❌" %}
       <button onclick="toggleAccordian('{{ key }}')" class="w3-btn w3-block w3-black w3-left-align">{{ key }} (click to expand)</button>
        <div id="{{ key }}" class="w3-container w3-hide">
          <h3>{{ key }}</h3>
          <p>Healthy: {{ pipeline_health_glyph }}</p>
          <h4>Components</h4>
          <div class="w3-row">
            <div class="w3-third w3-container w3-green">
                <h5>Receivers</h5>
                {% for subkey in agent.details.health.componentHealthMap[key].componentHealthMap %}
                  {% if subkey.startswith("receiver:")%}
                  <div>
                    {{ subkey }}
                  </div>
                  <div>
                    {% set component_health_glyph = "✅" if agent.details.health.componentHealthMap[key].componentHealthMap[subkey].healthy else "❌" %}
                    Healthy: {{ component_health_glyph }}
                  </div>
                  <div>
                    Status: {{ agent.details.health.componentHealthMap[key].componentHealthMap[subkey].status }}
                  </div>
                  <div>
                    Last Status Timestamp: {{ agent.details.health.componentHealthMap[key].componentHealthMap[subkey].statusTimeUnixNano | format_unix_time }}
                  </div>
                  <hr />
                  {% endif %}
                {% endfor %}
            </div>
            <div class="w3-third w3-container w3-blue">
                <h5>Processors</h5>
                {% for subkey in agent.details.health.componentHealthMap[key].componentHealthMap %}
                  {% if subkey.startswith("processor:")%}
                    <div>
                    {{ subkey }}
                  </div>
                  <div>
                    {% set component_health_glyph = "✅" if agent.details.health.componentHealthMap[key].componentHealthMap[subkey].healthy else "❌" %}
                    Healthy: {{ component_health_glyph }}
                  </div>
                  <div>
                    Status: {{ agent.details.health.componentHealthMap[key].componentHealthMap[subkey].status }}
                  </div>
                  <div>
                    Last Status Timestamp: {{ agent.details.health.componentHealthMap[key].componentHealthMap[subkey].statusTimeUnixNano | format_unix_time }}
                  </div>
                  <hr />
                  {% endif %}
                {% endfor %}
            </div>
            <div class="w3-third w3-container w3-black">
                <h5>Exporters</h5>
                {% for subkey in agent.details.health.componentHealthMap[key].componentHealthMap %}
                  {% if subkey.startswith("exporter:")%}
                    <div>
                    {{ subkey }}
                  </div>
                  <div>
                    {% set component_health_glyph = "✅" if agent.details.health.componentHealthMap[key].componentHealthMap[subkey].healthy else "❌" %}
                    Healthy: {{ component_health_glyph }}
                  </div>
                  <div>
                    Status: {{ agent.details.health.componentHealthMap[key].componentHealthMap[subkey].status }}
                  </div>
                  <div>
                    Last Status Timestamp: {{ agent.details.health.componentHealthMap[key].componentHealthMap[subkey].statusTimeUnixNano | format_unix_time }}
                  </div>
                  <hr />
                  {% endif %}
                {% endfor %}
            </div>
        </div>
     {% endif %}
    {% endfor %}
  </div>
  </div>
  <div class="w3-container">
    <h2>Current Agent Configuration</h2>

    <button onclick="toggleAccordian('effectiveConfig')" class="w3-btn w3-block w3-black w3-left-align">Current Agent Configuration (click to expand)</button>

    {% if agent.details.effectiveConfig %}

    <form id="effectiveConfig" action="#" method="POST" class="w3-container w3-hide">
      <textarea class="w3-input w3-block" rows="80">
      {{ agent.details.effectiveConfig.configMap.configMap[""].body | b64decode }}
      </textarea>
      <input class="w3-btn w3-black w3-block" type="button" value="Send Config (not working yet)">
    </form>

    {% else %}

    <div id="effectiveConfig" class="w3-panel w3-yellow w3-hide">
        <h3>Agent does not report current configuration.</h3>
        <p>To make use of this section, set <code>reports_effective_config</code> to <code>true</code> in your collector config.yaml like this:</p>
        <pre>
        <code>
        extensions:
          opamp:
            ...
            capabilities:
              reports_effective_config: true
        </code>
        </pre>
      </div>

    {% endif %}
  </div>

  <div class="w3-container">
    <h2>Agent Components</h2>

    <button onclick="toggleAccordian('agentComponents')" class="w3-btn w3-block w3-black w3-left-align">Current Available Components (click to expand)</button>

    <div id="agentComponents" class="w3-container w3-hide">
      {% if agent.details.availableComponents %}
      <p>This is a full list of available components reported to be built inside this agent. This does not mean that all of these components are active / used, only that they <i>could</i> be used.</p>
      
      {% for componentType in agent.details.availableComponents.components %}
        <button onclick="toggleAccordian('{{ componentType }}')" class="w3-btn w3-block w3-black w3-left-align">{{ componentType }} (click to expand)</button>
        
        <div id="{{ componentType }}" class="w3-container w3-hide">
          <h3>{{ componentType }}</h3>
          <table class="w3-table-all">
            <th>Component</th>
            <th>Version</th>
            {% for subComponent in agent.details.availableComponents.components[componentType].subComponentMap %}
            <tr>
              <td>{{ subComponent }}</td>
              <td>{{ agent.details.availableComponents.components[componentType].subComponentMap[subComponent] | get_component_version }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      {% endfor %}
      {% else %}
      <div class="w3-panel w3-yellow">
        <h3>Agent does not report components.</h3>
        <p>To make use of this section, set <code>reports_available_components</code> to <code>true</code> in your collector config.yaml like this:</p>
        <pre>
        <code>
        extensions:
          opamp:
            ...
            capabilities:
              reports_available_components: true
        </code>
        </pre>
      </div>
      {% endif %}

    </div>

  </div>
</div>
