<!DOCTYPE html>
<html>
<title>OpAMP Python Server - System Overview</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="css/w3.css">

<div class="w3-container">
    <h1>System Overview</h1>
</div>

<div class="w3-container">
    <h2>Status: {{ status | capitalize }} ✅</h2>
    <p>Agents Connected: {{ connected_agents }}</p>
</div>
